* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

:root {
    scroll-behavior: smooth;
}


header.masthead  {
    position: relative;
    /* position: absolute; */
    background-color: #343a40;
    background: url("../img/header.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-attachment: fixed;
    opacity: 0.8;
}



header.masthead h1 {
    font-size: 2rem;
}


.features-icons-item {
    max-width: 20rem;
}

.features-icons-icon {
    height: 7rem;
}



.inner{ 
    
    overflow: hidden; 
}

.inner img{
    transition: all 1.6s ease-in;
}

.inner:hover img{
    transform: scale(1.5);
}

#page {
    height: 100%;
}